* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  margin: 0;
}
/*Grid-Container*/
.grid-layout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 200px 100px;
  grid-template-rows: [header]80px [main]1000px [footer]1fr;
  width: 375px;
  margin: 0 auto;
}
header{
  grid-column: 1/2;
  grid-row: 1/2;
  position: ;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgreen;
  top:0 ;
}
.main{
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 50px;
}
.question p h2 {
  margin: 0;
}
.question {
  border: 2px solid black;
  padding 0 2%;
  margin: 20px 0;
  font-size: 0.6em;
  background: grey; 
  color: blue; 
  position: relative;
}
.bookmark{
  color:darkgreen;
  font-size: 2.5em;
  position: absolute;
  top: -10px;
  right: 10px;
}
footer{
  grid-column: 1/2;
  grid-row: 3/4;
  position: ;
  background-color: darkgreen;
  position: sticky;
  bottom: 0;
}
footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
h1,
h2,
h3 {
  line-height: 1.3;
}

input,
button {
  font-size: 1em;
}


